project_name = vanet
width = 500
height = 500
log = true

number_of_threads = 4
rounds = 50
seed_random = 1587632589
my_cell = Cell
cell_size = 10

#Vehicles
nodes[0] = 100
node_implementation[0] = Vehicle
communication_radio[0] = 100
node_radio[0] = 1
distribuition_model[0] = Gride
connectivity_model[0] = VehicleRSUConnectivity
mobility_model[0] = VehicleMobility

#RSUs
nodes[1] = 10
node_implementation[1] = RSU
communication_radio[1] = 100
node_radio[1] = 1
distribuition_model[1] = Gride
connectivity_model[1] = VehicleRSUConnectivity
mobility_model[1] = NoMobility
